* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
button {
  background-color: #4caf50; /* Primary color */
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover {
  background-color: #45a049; /* Hover color */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}
.container {
  width: 95%;
  padding: 20px 10px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container__header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}
.container__header h1 {
  font-size: 18px;
  padding: 5px 0;
}
.container .container__header button {
  margin-top: 5px;
  font-size: 15px;
  padding: 6px 12px;
}
.header__total {
  color: #dc143c;
}
.header__income {
  color: #006400;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-block: 10px;
}
.form input[type="number"],
.form select,
.form input[type="date"],
.form button {
  font-size: 16px;
  width: 80%;
  padding: 2px 4px;
}

.form__button--container {
  grid-area: 4 / span 2;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.form button {
  padding: 6px 12px;
}
.form label {
  color: #333;
  font-weight: 600;
}

.table__container {
  margin-top: 20px;
  height: 50vh;
  overflow: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #f1f1f1;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #3498db; /* Header background color */
  color: white;
}

.table td {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.table td:last-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.table td button {
  padding: 6px 12px;
}

.table input[type="number"],
.table select,
.table input[type="date"] {
  max-width: 120px;
}

@media only screen and (min-width: 960px) {
  .headers {
    flex-basis: 50%;
    justify-content: space-between;
    display: flex;
  }
  .form__button--container {
    grid-area: 4/1;
    margin: 0;
    margin-left: -10%;
  }
  .table td:last-child {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .table input[type="number"],
  .table select,
  .table input[type="date"] {
    max-width: 200px;
    font-size: 16px;
  }
  .table__container {
    height: 60vh;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 60%;
    height: 80vh;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .form__button--container {
    grid-area: 8/1;
  }
  .form button {
    max-width: 200px;
  }
  .table__container {
    height: 48vh;
  }
  .container {
    margin-top: -20px;
  }
}
